<div class="container">

  <h2>StarLight</h2>

  <p>Presentations with your own topic and time limit. </p>

  <a href="/starlight" class="waves-effect waves-light red btn">Try now</a>

  <h2>Modules</h2>
  <nav id="breadcrumb-nav">
    <div class="nav-wrapper">
      <div class="col s12">
        <%= link_to "Dashboard", level_modulers_path(@level),:class => "breadcrumb"%>
      </div>
    </div>
  </nav>
  <br>
  <hr>

  <div class="row">
    <% @modulers.each do |moduler| %>
    	<%= link_to level_moduler_lessons_path(@level, moduler) do %>
    		<div class="col m3 stats">
          <div class="card white hoverable center waves-effect waves-red full-width">
            <div class="card-content valign-wrapper center">
              <h5 class="valign black-text flex-1"><%= moduler.name %></h5>
            </div>
          </div>
        </div>
    	<% end %>
    <% end %>
  </div>
</div>
