<div class="container">

  <div class="row">
    <div class="col s6">
      <h2>StarBright</h2>
  
      <p>Practice with some lessons. </p>
      <% @modulers.each do |moduler| %>
        <%= link_to level_moduler_lessons_path(@level, moduler) do %>
          <div class="col m6 stats">
            <div class="card white hoverable center waves-effect waves-red full-width">
              <div class="card-content valign-wrapper center">
                <h5 class="valign black-text flex-1"><%= moduler.name %></h5>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col s6">
      <h2>StarLight</h2>

      <p>Presentations on your own time. </p>

      <a href="/starlight" class="waves-effect waves-light red lighten-2 btn">Try now</a>
    </div>
  </div>
</div>


<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="54a18bb4-e05d-4144-969f-f287babe1dd6";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>