<% if user_signed_in? %>
	<div class="page-header">
	  <h1>StarSpeak</h1>
	  <h3>Helping kids to embrace their presentation.</h3>
	</div>

	<%# link_to "Get Started", level_path(current_user.level) %>
<% else %>
	<div class="page-header">
	  <br>
	  <h1>StarSpeak</h1>
	  <h3>Helping kids to embrace their presentation.</h3>
	  <br>
	  <a href="#modal1" class="btn red lighten-2 waves-effect waves-light modal-trigger">Sign Up</a>
	</div>

	<!-- &nbsp;<a href="#" class="btn btn-default btn-lg">Try the demo</a> -->
	<div id="modal1" class="modal">
	    <div class="modal-content">
				<h1>StarSpeak</h1>
				<h2>Beta</h2>
				<p>Enter code provided by your instructor to start Beta</p>

				<form action="/users/sign_up">
					<div class="input-group">
						<input type="text" name="beta_code" class="form-control" placeholder="Access Token">
						<span class="input-group-btn">
							<button type="submit" id="mc-embedded-subscribe" class="button btn red lighten-2 waves-effect waves-light">Submit</button>
						</span>
					</div>
				</form>
		      	<br>
		        <!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
				<form action="//starspeak.us11.list-manage.com/subscribe/post?u=1cd17cd17e4536b98745fee5b&amp;id=1ad6be9e86" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
						<h2>We're launching soon!</h2>
						<p>Don't miss an update</p>
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1cd17cd17e4536b98745fee5b_1ad6be9e86" tabindex="-1" value=""></div>

						<div class="input-group">
					      <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email">
					      <span class="input-group-btn">
						      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn red lighten-2 waves-effect waves-light">Subscribe</button>
					      </span>
					    </div><!-- /input-group -->

				    </div>
				</form>
				</div>
	    </div>
	  </div>
<% end %>
