<h1>Help</h1>

<h2>Troubleshooting - Camera Issues</h2>

<ul>
	<li>Make sure you're using Google Chrome</li>
	<li>Check your webcam settings. </li>
	<li>Check that webcam and microphone is enabled on chrome</li>
	<img src="/images/help_1.png" alt="" width="50%">
</ul>